// Variables
@import "variables";
/* Bulma framework*/
$primary: #c59d5f;
@import "~bulma/bulma";

/* Bulma Vue modules */
@import "~buefy/src/scss/buefy";

@import "helper";
.dashboard-wrapper {
    background-color: #dfe6e9;
}

.card {
    width: 95%;
    margin: auto;
}
.table {
    width: 100%;
    margin: auto;
}

.hero.is-info {
    background-color: #f8f8fa;
    .title {
        color: #303e52;
        font-weight: 600;
        font-size: 4rem;
    }
    .subtitle {
        color: #c59d5f;
    }
}

.menu-list a.is-active {
    background-color: #c59d5f;
}
.menu-list a:hover {
    background-color: #172a39;
    color: #c59d5f;
}
.card {
    background-color: #172a39;
}
