// Variables
@import "variables";
/* Bulma framework*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
$family-sans-serif: "Open Sans Condensed", sans-serif;
$primary: #c59d5f;
@import "~bulma/bulma";

/* Bulma Vue modules */
@import "~buefy/src/scss/buefy";

@import "helper";
.dashboard-wrapper {
    background-color: #dfe6e9;
}

.card {
    width: 95%;
    margin: auto;
}
.table {
    width: 100%;
    margin: auto;
}

.hero.is-info {
    background-color: #f8f8fa;
    .title {
        color: #303e52;
        font-weight: 600;
        font-size: 4rem;
    }
    .subtitle {
        color: #c59d5f;
    }
}

.card {
    background-color: #172a39;
}

.tabs ul {
    border-bottom-color: #c59d5f;
}
.tabs a {
    color: white;
    &:hover {
        color: #c59d5f;
        border-bottom-color: #c59d5f;
    }
}
.tabs li.is-active a {
    border-bottom-color: #2ecc71;
    color: #2ecc71;
    font-weight: 600;
}
tbody {
    background-color: #172a39;
}
thead {
    background-color: #c59d5f;
}
.table {
    color: white;
}
.table thead td,
.table thead th {
    color: white;
}
